@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
	font-family: Open Sans;
}

.NavBarUL {
	margin: 0;
	list-style-type: none;
	padding: 0;
	display: block;
}

.HomeBtnLI {
	display: inline;
	float: left;
	background-color: #3CA8FF;
	margin: 10px;
	padding: 10px;
}

.HomeA {
	text-decoration: none;
	color: #FCFCFC;
	pointer-events: none;
}

.AboutBtnLI {
	display: inline;
	float: left;
	background-color: #3CA8FF;
	margin: 10px;
	padding: 10px;
	transition: 1s;
}

.AboutBtnLI:hover {
	background-color: #555555;
	transition: 1s;
	padding: 15px;
	font-size: 25px;
}

.AboutA {
	text-decoration: none;
	color: #FCFCFC;
}

.LinksBtnLI {
	display: inline;
	float: left;
	background-color: #3CA8FF;
	margin: 10px;
	padding: 10px;
	transition: 1s;
}

.LinksBtnLI:hover {
	background-color: #555555;
	transition: 1s;
	padding: 15px;
	font-size: 25px;
}

.LinksA {
	text-decoration: none;
	color: #FCFCFC;
}

.RepoT {
	position: absolute;
	top: 15%;
	left: 46%;
}

.SiteRepo {
	position: absolute;
	text-decoration: none;
	color: #9495FF;
	top: 80%;
	left: 35%;
}
