/* This is the MAIN STYLE for the route called "/" */

body {
	font-family: Ubuntu;
	/* background-color: #AE65CE; Working on that! */
}

.NavBarUL {
	margin: 0;
	list-style-type: none;
	padding: 0;
	display: block;
}

.HomeBtnLI {
	display: inline;
	float: left;
	background-color: #3CA8FF;
	margin: 10px;
	padding: 10px;
}

.HomeA {
	text-decoration: none;
	color: #FCFCFC;
	pointer-events: none;
}

.AboutBtnLI {
	display: inline;
	float: left;
	background-color: #3CA8FF;
	margin: 10px;
	padding: 10px;
	transition: 1s;
}

.AboutBtnLI:hover {
	background-color: #555555;
	transition: 1s;
	padding: 15px;
	font-size: 25px;
}

.AboutA {
	text-decoration: none;
	color: #FCFCFC;
}

.LinksBtnLI {
	display: inline;
	float: left;
	background-color: #3CA8FF;
	margin: 10px;
	padding: 10px;
	transition: 1s;
}

.LinksBtnLI:hover {
	background-color: #555555;
	transition: 1s;
	padding: 15px;
	font-size: 25px;
}

.LinksA {
	text-decoration: none;
	color: #FCFCFC;
}
